<div class="container">
  <%= render 'shared/molecules/banner', image: "banner.jpg", title: "Strive", sub_title: "Achieve all your corporate goals", button_text: "Sign Up", button_link: new_user_registration_path %>
</div>
