<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= cl_image_tag("bcnvrjvs52nod2xtuxgjpu4143e5",
      width: 400, height: 300, crop: :fill) %>
<!-- for face detection -->
<%= cl_image_tag("8mbswk4ufo5rqk6r9wh8sswied6o",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>
