.card-review {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  border-radius: 7px;
}

.card-review img {
  height: 100%;
  width: 150px;
  object-fit: cover;
}

.card-review .card-review-infos {
  padding: 16px;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}
