<% if notice %>
  <div class="alert alert-info animate__animated animate__bounceInRight" role="alert">
    <%= notice %>
    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning animate__animated animate__bounceInRight" role="alert">
    <%= alert %>
    <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
